.viewbox{
    box-shadow: 0px 4px 25px rgba(105, 192, 250, 0.308);
    /* border:2px solid black; */
    width:50%;
    margin-left: 280px;
    padding:20px;
    margin-top: 30px;
    cursor: pointer;
}
/* .viewbox:hover{
    transform:scale(1.02);
} */
.applybutton{
    margin-left: 480px;
    border:2px solid blue;
    border-radius: 5px;
    width:100px;
    height:35px
}
.viewjobbody{
    /* border:2px solid black; */
    padding-top: 100px;
}