.userhomebody{
    margin-left: 300px;
    margin-top : 100px;
    padding-top: 20px;
}
.total-jobs,.totalapplied{
    /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 2px 15px rgba(105, 192, 250, 0.938);
    width:25vw;
    height:25vh;
    margin-bottom: 20px;
}
.total-jobs:hover,.totalapplied:hover{
    transform: scale(1.02);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1); 
    /* box-shadow: 0px 2px 15px rgba(105, 192, 250, 0.938); */
}
.userhomebox{
display: grid;
grid-template-columns: 400px 400px 300px;
}
.userimage
{
    display: grid;
    grid-template-columns: 500px 500px;
    gap:50px;
}
.userhomebut1{
    border-radius: 5px ;
    color: white;
    background-color: rgb(45, 114, 179);
    width:100px;
    height:40px;
}